@model Kontent.Ai.Boilerplate.Statiq.Models.Home;

@{
  ViewBag.Title = @Model.HeroUnitTyped.Title;
}

<div class="hero">
  <h1 class="append-dot">@Model.HeroUnitTyped.Title</h1>
  <div class="summary">
    @Html.Raw(Model.HeroUnitTyped.MarketingMessage)
  </div>
  <div class="button">
    <a href="#">Dummy CTA</a>
  </div>
<div>
