/// <reference path="_variables.scss" />

html,
body {
  margin: 0 auto;
  padding: 0;
  background-color: $color-base;
  color: $color-primary;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .layout {
    max-width: 960px;
    margin: auto;
  }

  h1 {
    font-size: 32px;
    padding: 0 0 16px;

    @media screen and (min-width: 480px) {
      font-size: 48px;
      padding: 0 0 18px;
    }

    @media screen and (min-width: 740px) {
      font-size: 56px;
      padding: 0 0 24px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 72px;
      padding: 0 0 36px;
    }

    &.append-dot:after {
      content: ".";
      color: $color-kontent-orange;
    }
  }

  .button {
    margin: 2em 1em;

    a {
      background-color: $color-secondary;
      border: none;
      color: $color-primary;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
