.hero {
  text-align: center;
  overflow-x: hidden;
  margin: 2em;
  text-align: center;
  overflow-x: hidden;
  .summary {
    width: 500px;
    margin: auto;
    line-height: 1.5em;
    text-align: center;
    font-weight: bold;
  }
}